/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 425px) {

  /* Styles */
  .aboutpager {
    flex-direction: column;
  }

  .myPic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 601px) {
  h1.tex {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1.tex {
    font-size: 50px;
  }
}